# See README
# pip install torch --extra-index-url https://download.pytorch.org/whl/cpu
##torch

# This Gpy (most recent one (2023-06)) uses a deprecated numpy feature. Using
# a slighty older numpy fixes this.
numpy<=1.24
Gpy==1.10.0

tinygp
scikit-learn
gpytorch

matplotlib
python-box
icecream

# Newer jupyter-book versions mess up root.md rendering.
jupyter-book==0.13.0
jupytext
sphinxcontrib-bibtex

# On of the jupy* things above pulls in ipython. Version 8.7 breaks syntax
# highlighting. 8.9.0 seems fine.
ipython>=8.9.0

# vim:ft=conf
