# See README
# pip install torch --extra-index-url https://download.pytorch.org/whl/cpu
##torch

# pred comp
tinygp
Gpy
scikit-learn
gpytorch

# plotting
matplotlib
python-box
icecream

# jupyter book + tools
jupyter-book
jupytext
sphinxcontrib-bibtex

# On of the jupy* things above pulls in ipython. Version 8.7 breaks syntax
# highlighting. Temporary fix.
ipython<8.7.0

# vim:ft=conf
