# Last run with
#
# GPy                 1.10.0
# gpytorch            1.9.0
# scikit-learn        1.1.2
# tinygp              0.2.2
# torch               1.12.1+cpu


# See README
##torch

tinygp
Gpy
scikit-learn
gpytorch
matplotlib

# vim:ft=conf
